/* start global rouls */
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
a {
    text-decoration :none;
    color: inherit;
}
ul {
    list-style: none;
}
.container {
padding-left: 15px;
padding-right: 15px;
margin: auto;
}
span {
    display: inline-block;
}
img {
    max-width: 100%;
}
input:focus,textarea:focus {
    outline: none;
}
/* small screen */
@media (min-width:768px) {
    .container {
        width : 750px;
    }
}
/* medim screen */
@media (min-width:992px) {
    .container {
        width : 970px;
    }
}
/* large screen */
@media (min-width:1200px) {
    .container {
        width : 1170px;
    }
}
/* end global rouls */
/* start variables */
:root {
    --minColor : #0b1833;
    --secondre-color: #4fcad4;
    --another-color : #69a7ac;
}
/* end variables */
/* start  Components */
.maintitle {
    padding-top: 40px;
    padding-bottom: 40px;
    color: var(--minColor);
}
.maintitle .container {
    text-align: center;
}
.maintitle .container span {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 10px;
}
.maintitle .container h3 {
    font-size: 30px;
    margin: 10px 0px;
}
.maintitle .container p {
    width: 553px;
    margin: auto;
    max-width: 100%;
    font-size: 11px;
    line-height: 1.6;
}
/* end components */
/* start header */
header {
    color: white;
    background-image: url(../img/img-1.jpeg);
    background-size: cover;
    position: relative;
    padding: 30px 0px 125px;
    height: 699px;
    background-attachment: fixed;
    margin-bottom: 35px;
}
@media (max-width:700px) {
    header {
        background-position: top;
        padding-bottom: 80px;
        background-attachment: inherit;
    
    }
}
header .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
header .container nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
}
header .container nav h3 a {
    color: white;
    font-size: 25px;
}
header .container nav .box {
    position: relative;
}
header .container nav .box ul {
    position: absolute;
    left: -184px;
    top: 31px;
    border: 1px solid #6f6f6f;
    width: 207px;
    display: none;
    background-image: url(../img/img-1.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
@media (max-width:700px) {
    header .container nav .box .icon:hover + ul {
        display: block;
    }
    header .container nav .box i:hover:after {
        content: "";
    }
    header .container nav .box ul li:hover {
        padding-left: 10px ;
        transition: .5s;
    }
}
header .container nav .box ul li {
    padding: 13px 0px 13px 30px;
    position: relative;
}
header .container nav .box ul li::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 2px;
    width: 70%;
    border-bottom: 3px solid #102550;
    transition: 0.5s;
    content: "";
    transform-origin: left;
    transform: scale3d(0,1,1);
}
header .container nav .box ul li:hover::after {
    transform: scale3d(1,1,1);
}
header .container nav .box ul li a {
    color: var(--minColor);
    font-size: 19px;
}
header .container nav i {
    font-size: 22px;
}
header .container nav .box i::after { 
    border: 10px solid var(--minColor);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    left: -1px;
    height: 0px;
    width: 0px;
    top: 11px;
}
header .container .text {
    flex-basis: 40%;
}
header .container .text .first {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.9px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
header .container .text h2 {
    font-size: 34px;
    line-height: 1.3;
    margin-bottom: 15px
}
header .container .text p {
    font-weight: 500;
}
header .container .text p .shadwo {
    color: #bcbcbcab;
    font-weight: normal;
}
header .container .text .but {
    padding: 20px 25px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 2px;
}
header .container .text .skay {
    background-color: var(--secondre-color);
    margin-right: 40px;
}
@media (max-width:700px) {
    header .container .text .skay {
        margin-right: 10px;
    }
}
header .container .text .black {
    background-color: var(--minColor);
}
/* end header */
/* start albom */
.albom  {
    padding-bottom: 35px;
}
.albom .container .imgs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width:700px) {
    .albom .container .imgs {
        flex-direction: column;
    }
    .albom .container .imgs img {
    width: 100%!important;
    }
}
.albom .container .imgs .nen ,.albom .container .imgs .eleven {
    width: 40%;
}
.albom .container .imgs .ten,.albom .container .imgs .twoelve {
width: 60%;
}
.albom .container a , .butt {
    padding: 15px;
    background-color: #0b1833;
    color: white;
    letter-spacing: 2.5px;
    border-radius: 10px;
    margin-top: 50px;
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
/* end albom */
/* start galery */
.gallery {
padding: 10px 0px 40px;
}
.gallery .container .box {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30%,1fr));
    grid-gap: 20px 17px;
}
@media (max-width:1000px) {
    .gallery .container .box {
        grid-template-columns: repeat(auto-fill,minmax(48%,1fr));
    }
}
@media (max-width:701px) {
    .gallery .container .box {
        grid-template-columns: repeat(auto-fill,minmax(100%,1fr));
    }
}
.gallery .container a {
    font-size: 13px;
    padding: 17px 25px;
    font-weight: 600;
}
/* end galery */
/* start test */
.test {
    background-position: bottom;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    background-image: url(../img/img-8.jpg);
    background-attachment: scroll;
    background-size: cover;
    height: 625px;
    position: relative;
}
.test::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #071023e6;
}
.test .container {
    position: relative;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}
.test .container .top {
    text-align: center;
    margin: 10px 0px 10px;
    font-size: 14px;
}
.test .container h2 {
    text-align: center;
    font-size: 39px;
    letter-spacing: 3.4px;
}
.test .container img {
    border-radius: 50%;
    height: 95px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin: 40px 0px 30px;
}
.test .container .lo {
    width: 595px;
    text-align: center;
    margin: auto;
    line-height: 1.5;
    color: #bbb;
    font-size: 14px;
    max-width: 100%;
}
.test .container .bold {
    font-size: 17px;
    font-weight: 900;
    margin-top: 25px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.test .container .box {
    text-align: center;
    margin: 20px 0px;
}
.test .container .box .s {
    background-color: #4fcad475;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.test .container .box .activ {
    background-color: var(--secondre-color);
    margin: 0px 5px;
}
/* end test */
/* start contact */
.contact {
    padding-bottom: 50px;
    padding-top: 50px;
}
.contact .container {
    display: flex;
    justify-content: space-between;
}
@media (max-width:700px) {
    .contact .container {
        flex-direction: column;
    }
    .contact .container .cont {
        margin-bottom: 20px;
    }
}
.contact .container .cont {
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.contact .container .cont .top {
    flex-basis:45%;
}
.contact .container .cont .top span {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
}
.contact .container .cont .top h3 {
    font-size: 50px;
    margin: 3px 0px 15px;
}
.contact .container .cont .top p {
    font-size: 13px;
    line-height: 1.4;
    color: #595555;
    width: 284px;
}
.contact .container .cont .bottom {
    flex-basis:45%;
}
.contact .container .cont .bottom h4 {
    font-weight: normal;
    letter-spacing: 1.9px;
    margin: 25px 0px 15px;
}
.contact .container .cont .bottom p {
    color: var(--secondre-color);
    font-size: 25px;
    font-weight: 600;
}
.contact .container form {
    flex-basis: 45%;
}
@media (max-width:700px) {
    .contact .container form {
        margin-top: 65px;
    }
    .contact .container form label {
        margin-bottom: 10px;
        display: inline-block;
    }
    .contact .container form .group {
        flex-direction: column;
    }
    .contact .container form .group .inp{
        position: relative!important;
        margin: 20px 0px 8px;
    }
    .contact .container form .med  {
        margin: 10px 0px!important;
    }
}
.contact .container form .group {
    position: relative;
    padding: 13px 0px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.contact .container form .group .right,.contact .container form .group .left {
    flex-basis: 45%;
}
.contact .container form .group .inp {
    position: absolute;
    top: -11px;
}
.contact .container form  input {
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid;
    width: 100%;
}
.contact .container form label {
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
}
.contact .container form .med  {
    position: relative;
    margin: 30px 0px;
}
.contact .container form .foo  {
    position: relative;
    margin: 41px 0px 20px;
}
.contact .container form .med label {
    top: -23px;
}
.contact .container form .foo label {
    top: -25px;
}
.contact .container form .foo textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.contact .container button {
    padding: 10px 30px;
    color: white;
    background-color: var(--minColor);
    border: none;
    letter-spacing: 1.5px;
    border-radius: 5px;
}
/* end contact */
/* start footer */
footer {
    background-color: var(--minColor);
    color: white;
    padding: 10px 0px
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .container .icon i {
    padding: 9px;
    font-size: 16px;
}
@media (max-width:700px) {
    footer .container {
        flex-direction: column;
    }
}
footer .container h1 {
    letter-spacing: 1.9px;
    font-size: 20px;
}
footer .container  p {
    font-size:13px ;
}
footer .container  p span {
    color: var(--secondre-color);
}
/* end footer */